version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build:
    docker:
      - image: cimg/node:20.5
    steps:
      - checkout
      - node/install-packages:
          app-dir: frontend
          pkg-manager: npm
      - run:
          name: Run Tests
          command: |
            cd frontend
            npm test || echo "No tests yet"

  sonar_scan:
    docker:
      - image: sonarsource/sonar-scanner-cli:latest
    environment:
      SONAR_TOKEN: << pipeline.parameters.sonar_token >>
      SONAR_PROJECT_KEY: << pipeline.parameters.sonar_project_key >>
      SONAR_ORGANIZATION: << pipeline.parameters.sonar_organization >>
    steps:
      - checkout
      - run:
          name: Run SonarCloud Scan
          command: |
            sonar-scanner \
              -Dsonar.projectKey=${SONAR_PROJECT_KEY} \
              -Dsonar.organization=${SONAR_ORGANIZATION} \
              -Dsonar.sources=frontend/src \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.token=${SONAR_TOKEN}

workflows:
  version: 2
  main:
    jobs:
      - build
      - sonar_scan:
          requires:
            - build
