version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build_and_scan:
    docker:
      - image: cimg/node:20.5
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
          app-dir: frontend
      - run:
          name: Run Tests
          command: cd frontend && npm test || echo "No tests yet"
      - run:
          name: Install SonarScanner CLI
          command: |
            curl -sSLo sonar-scanner-cli.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.9.2.5216-linux.zip
            unzip sonar-scanner-cli.zip
            export PATH=$PWD/sonar-scanner-4.9.2.5216-linux/bin:$PATH
      - run:
          name: Run SonarCloud Scan
          command: |
            cd frontend
            sonar-scanner \
              -Dsonar.projectKey=OkoyeEmmanuel_customer-portal-react \
              -Dsonar.organization=okoyeemmanuel \
              -Dsonar.sources=./src \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  main:
    jobs:
      - build_and_scan
