version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build_and_scan:
    docker:
      - image: cimg/node:20.5
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Run Tests
          command: npm test || echo "No tests yet"
      - run:
          name: Install Sonar Scanner
          command: sudo npm install -g sonar-scanner
      - run:
          name: Run SonarCloud Scan
          command: |
            sonar-scanner \
              -Dsonar.projectKey=OkoyeEmmanuel_customer-portal-react \
              -Dsonar.organization=okoyeemmanuel \
              -Dsonar.sources=./src \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  main:
    jobs:
      - build_and_scan
